<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPCS</title>
</head>
<link rel="stylesheet" href="../static/css/main.css">
<body>
    <nav class="navbar">
        <div class="menutitle">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" width="55" height="50" alt="고프로 로고">
            <p>GoPro</p>
        </div>
        <input type="checkbox" id="menubtn">
        <label for="menubtn">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </nav>
    <div class="footer">
        <p class="foot-name">GoPro</p>
        <p class="foot-copyright">Copyright &copy; 2024~ gopro All rights reserved.</p>
    </div>
</body>
</html>